# DOMAIN_NAME and SUBDOMAIN together determine where n8n will be reachable from
# The top level domain to serve from
DOMAIN_NAME=127.0.0.1:5678

# The subdomain to serve from
SUBDOMAIN=n8n

# Optional timezone to set which gets used by Cron and other scheduling nodes
# New York is the default value if not set
GENERIC_TIMEZONE=Europe/Paris

# The email address to use for the TLS/SSL certificate creation
SSL_EMAIL=user@localhost.local

IMAP_HOST=mail.local
IMAP_USER=my@mail.local
IMAP_PASS=password
IMAP_TRASH=Trash
IMAP_LIMIT=100
IMAP_BODY_MAX=5000

POSTGRES_PASSWORD=password
